.place__website_url-heading {
  color: #fff;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .place__website_url-heading {
    line-height: 1;
  }
}
