.place__title {
  grid-area: title;
  max-width: 460px;
  max-height: 152px;
  font-size: 72px;
  font-style: normal;
  line-height: 1.05;
  color: #fff;
  text-align: left;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.05;
  }
}

@media screen and (max-width: 600px) {
  .place__title {
    max-width: 568px;
    font-size: 42px;
    line-height: 1.05;
    margin: 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
    margin: 0 16px;
  }
}
