.footer__copyright {
  color: #fff;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-top: 48px;
  }
}
