.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    margin: 64px 118px 24px 16px;
  }
}
